<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
         <div class="row">
            <div class="col">
               <h1 id = "title" style="text-align: center; min-width: 1000px; color: #000B4F">Sudoku Solver</h1>
                <p id = "credits">Created by Ayooluwa Adeleye. Source code can be found <a href="" target="_blank">here</a>.</p>
               <hr>
            </div>
         </div>
      </div>
            <p id="para" style="padding-left: 30px;">It's probably easier to just input numbers into a sudoku board grid,
                especially on a laptop. But to make this a Machine Learning project, I need to be using machine learning obviously,
                so instead, take a picture of an incomplete sudoku board and upload it below: </p>
         <form method = "POST" enctype="multipart/form-data">
             <label >Choose File</label>
             <input type="file" name="image">
             <label style="margin-top: 20px;">Submit</label>
             <input type="submit" value="Submit">
         </form>

</body>
</html>